.container {
    max-width: 676px;
    margin: 0 auto;
}
.page-title {
    font-family: "SF Pro Display Bold", sans-serif;
    font-size: 40px;
    line-height: 0.7;
    text-align: center;
    height: auto;
    margin-top: 16px;
    margin-bottom: 58px;
    color: #FF6B00;
}